<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
        <title>{% block title %}Translyaptor{% endblock %}</title>
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row header">
                    <div class="col-2">
                        <a href="{{ path('text_list') }}"><img class="logo" src="/images/logo.png"></a>
                    </div>
                    <div class="col-8 text-center">
                        <a
                            class="menu-links"
                            href="{{ path('text_list') }}">Work with text
                        </a><a
                            class="menu-links"
                            href="#">Work with words
                        </a><a
                            class="menu-links"
                            href="{{ path('words_show') }}">List words
                        </a>
                    </div>
                    <div class="col-2 authorization-block">
                        <a
                            class="btn btn-secondary authorization-links"
                            href="#">Sing in
                        </a><a
                            class="btn btn-secondary authorization-links"
                            href="#">Sing up
                        </a>
                    </div>
                </div>
            </header>
            <main>
                <div class="row">
                    <div class="col-12">
                        {% for type, messages in app.flashes() %}
                            {% for message in messages %}
                                <div class="alert alert-{{type}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row main">
                    {% block body %}{% endblock %}
                </div>
            </main>
            <footer>
                <div class="row footer">
                    <div class="col-2">
                        <a class="info-links" href="#">About us</a>
                        <a class="info-links" href="#">Contact us</a>
                        <a class="info-links" href="#">Terms of use</a>
                    </div>
                    <div class="col-2 offset-8 text-right css-copyright">
                        &#169 2020
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.5.0.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('js/popper.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
